*.pyc
*~
.htpasswd
custom.cfg
testRunner/config.py
testRunner/config/taskList/
testRunner/parser.out
testRunner/parsetab.py
testRunner/taskList.txt
testsuite/header.js
web/.htaccess
web/config.php
web/docs/doxygen.cfg
web/docs/doxygen.cfg.bak
web/docs/doxygen/
web/docs/html/
web/reftestList.js
web/results/
