*.log
*.pyc
*~
.htpasswd
custom.cfg
mathjax/*/
testRunner/conditionParser.py
testRunner/config.py
testRunner/config/taskList/
testRunner/parser.out
testRunner/parsetab.py
testRunner/seleniumServer.jar
testRunner/taskList.txt
testsuite/header.js
web/.htaccess
web/branchList.php
web/config.js
web/config.php
web/docs/doxygen.cfg
web/docs/doxygen.cfg.bak
web/docs/doxygen/
web/docs/html/
web/docs/source/*.svg
web/reftestList.js
web/results/
web/testsuiteNotes.html
