# This is the default configuration file for the testing framework.
# See http://devel.mathjax.org/testing/web/docs/html/installation.html

###[bin]
PYTHON        = python
PIP           = pip
PERL          = perl
SED           = sed
WGET          = wget
JAVA          = java
SPHINXBUILD   = sphinx-build
DOT           = dot
DOXYGEN                   = doxygen
DOXYGEN_PYTHON_FILTER     = doxypy
DOXYGEN_PERL_FILER        = doxygenfilter
DOXYGEN_JAVASCRIPT_FILTER = js2doxy.pl

###[qa]
# Use htpasswd to create a user and password file and reference them here.
QA_USER_NAME =
QA_PASSWORD_FILE =

###[task_handler]
TASK_HANDLER_HOST = localhost
TASK_HANDLER_PORT = 4445

###[selenium_server]
SELENIUM_SERVER_VERSION = 2.20.0
SELENIUM_SERVER_HOST = localhost
SELENIUM_SERVER_PORT = 4444
SELENIUM_SERVER_HUB_HOST = localhost
SELENIUM_SERVER_HUB_PORT = 4444
SELENIUM_SERVER_NODE_PORT = 5555
SELENIUM_SERVER_NODE_OPTIONS = browserName=firefox,maxInstances=3,platform=LINUX browserName=chrome,maxInstances=3,platform=LINUX browserName=opera,maxInstances=3,platform=LINUX
SELENIUM_SERVER_NODE_TIMEOUT = 30

###[testing_instance]
DEFAULT_TASK_NAME = task
HOST_LIST = localhost
HOST_LIST_OS = Linux
DEFAULT_MATHJAX_PATH = http://devel.mathjax.org/testing/mathjax/MathJax/
DEFAULT_MATHJAX_TEST_PATH = http://devel.mathjax.org/testing/testsuite/
DEFAULT_TIMEOUT = 20
OS_LIST = Linux Windows Mac
BROWSER_LIST = Firefox Safari Chrome Opera MSIE Konqueror HTMLUnit iPhone Android
BROWSER_VERSION_REGEXP = ([0-9]|\.)+
BROWSER_MODE_LIST = Quirks IE7 IE8 IE9
FONT_LIST = STIX TeX ImageTeX
OUTPUT_JAX_LIST = HTML-CSS SVG NativeMML

###[generated_files]
CONFIG_PY = testRunner/config.py
CONFIG_PHP = web/config.php
CONFIG_JS = web/config.js
WEB_HTACCESS = web/.htaccess
WEB_REFTEST_LIST = web/reftestList.js
WEB_BRANCH_LIST = web/branchList.php
TESTSUITE_HEADER = testsuite/header.js
DOXYGEN_CONFIG = web/docs/doxygen.cfg
CONDITION_PARSER = testRunner/conditionParser.py

###[messages]
WARNING_GENERATED_FILE = This file is automatically generated. Do not edit.
ERROR_CONNECTION_TASK_HANDLER = Could not connect to the task handler.

###[other]
MATHJAX_TEST_URI = http://devel.mathjax.org/testing/
MONTH_LIST = January February March April May June July August September October November December
WEEKDAY_LIST = Monday Tuesday Wednesday Thursday Friday Saturday Sunday
TESTSUITE_TOPDIR_LIST = API Configuration Crashtests LaTeXToMathML MathMLToDisplay Parsing UI
TEMPLATE_CONFIG_LIST = firefox-linux firefox-windows safari-windows chrome-linux chrome-windows opera-linux opera-windows msie-quirks msie-ie7 msie-ie8 msie-ie9 konqueror-linux htmlunit-linux htmlunit-windows chrome-mac htmlunit-mac safari-mac firefox-mac opera-mac
MATHJAX_GIT_USERS = dpvc mathjax
