# This is the default configuration file for the testing framework. You should
# use htpasswd to create a password file and users that match the informations
# of the [qa] section. The http:// URI should also map to the corresponding
# directories. The *_LIST parameters accept a space-separated list of elements.
# If you add more os/browser, do not forget to update
# testRunner/seleniumMathJax.py to enable support for this new platform.

###[bin]
PYTHON        = python
PERL          = perl
SED           = sed
SPHINXBUILD   = sphinx-build
DOT           = dot
DOXYGEN                   = doxygen
DOXYGEN_PYTHON_FILTER     = doxypy
DOXYGEN_PERL_FILER        = doxygenfilter
DOXYGEN_JAVASCRIPT_FILTER = js2doxy.pl

###[qa]
# Create htpasswd to create a user and password file and reference them here.
QA_USER_NAME =
QA_PASSWORD_FILE =

###[task_handler]
TASK_HANDLER_HOST = localhost
TASK_HANDLER_PORT = 4445

###[testing_instance]
DEFAULT_TASK_NAME = experimentalTask
HOST_LIST = localhost
HOST_LIST_OS = Linux
DEFAULT_SELENIUM_PORT = 4444
DEFAULT_MATHJAX_PATH = http://devel.mathjax.org/testing/mathjax/MathJax/
DEFAULT_MATHJAX_TEST_PATH = http://devel.mathjax.org/testing/testsuite/
DEFAULT_TIMEOUT = 20

BROWSER_LIST = Firefox Safari Chrome Opera MSIE Konqueror HTMLUnit iPhone Android
OS_LIST = Linux Windows Mac
BROWSER_MODE_LIST = StandardMode Quirks IE7 IE8 IE9
FONT_LIST = STIX TeX ImageTeX

###[generated_files]
CONFIG_PY = testRunner/config.py
CONFIG_PHP = web/config.php
CONFIG_JS = web/config.js
WEB_HTACCESS = web/.htaccess
WEB_REFTEST_LIST = web/reftestList.js
TESTSUITE_HEADER = testsuite/header.js
DOXYGEN_CONFIG = web/docs/doxygen.cfg
CONDITION_PARSER = testRunner/conditionParser.py

###[messages]
WARNING_GENERATED_FILE = This file is automatically generated. Do not edit.
ERROR_CONNECTION_TASK_HANDLER = Could not connect to the task handler.

###[other]
MATHJAX_WEB_URI = http://devel.mathjax.org/testing/web/
MONTH_LIST = January February March April May June July August September October November December
WEEKDAY_LIST = Monday Tuesday Wednesday Thursday Friday Saturday Sunday
TESTSUITE_TOPDIR_LIST = API Configuration Crashtests LaTeXToMathML MathMLToDisplay Parsing UI
